@use "variables" as *;
@use "sass:color";

//  Mixin botones
@mixin button-style($bg-color, $border-color, $text-color, $hover-bg, $hover-border) {
    background-color: $bg-color !important;
    border-color: $border-color !important;
    color: $text-color;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 9999px; // botón tipo pildora
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s, box-shadow 0.3s;
    border: none;
    outline: none;

    &:hover {
        background-color: $hover-bg !important;
        border-color: $hover-border !important;
        color: $text-color;
    } 

    &:focus {
        box-shadow: 0 0 0 3px $btn_focus_outline; // Resalta el botón al enfocarse
    }

    &:active {
        background-color: color.adjust($bg-color, $lightness: -15%) !important;
        border-color: color.adjust($border-color, $lightness: -20%) !important;
    }

    &:disabled {
        background-color: $btn_disabled_bg !important;
        border-color: $btn_disabled_bg !important;
        color: $btn_disabled_text !important;
        cursor: not-allowed;
        opacity: 0.6;
    }
}


.btn {
    display: inline-block;
}

.btn--primary {
    @include button-style($primary_color, $primary_color, $btn_text_color, $btn_hover_bg, $btn_hover_border);
}

.btn--secondary {
    @include button-style($secondary_color, $secondary_color, $btn_secondary_text_color, $btn_secondary_hover_bg, $btn_secondary_hover_border);
}
