
:root {
    --bs-primary: #ffc219; /* Amarillo */
    --bs-primary-rgb: 255, 194, 25; /* Valor RGB para efectos */
}

body {
    font-family: "Poppins", serif;
    font-optical-sizing: auto;
    color: #102736;
}


.btn-primary {
    background-color: var(--bs-primary) !important;
    border-color: var(--bs-primary) !important;
    color: #102736;
}
.btn-primary:hover {
    background-color: #e0a800 !important; /* Un tono más oscuro en hover */
    border-color: #d39e00 !important;
    color: #102736;
}

.card{
    border: 0px;
}
h1{
    font-size: 5rem;
    background: linear-gradient(45deg, #e43060, #fcca15);
    background-clip: text;  /* Propiedad estándar */
    -webkit-background-clip: text;  /* Para compatibilidad con navegadores WebKit */
    -webkit-text-fill-color: transparent;
    color: transparent; /* Asegura que en navegadores modernos el texto sea transparente */
    font-weight: bold;
}

@media (max-width: 768px) { 
    h1 {
        font-size: 3rem;
    }    }

h3{ background: linear-gradient(45deg, #e43060, #2194cd);
    background-clip: text;  /* Propiedad estándar */
    -webkit-background-clip: text;  /* Para compatibilidad con navegadores WebKit */
    -webkit-text-fill-color: transparent;
    color: transparent; /* Asegura que en navegadores modernos el texto sea transparente */
    font-size: 3rem;
}

@media (max-width: 768px) { 
    h3 {
        font-size: 2rem;
    }    }

    h2{ background: linear-gradient(45deg, #e43060, #2194cd);
        background-clip: text;  /* Propiedad estándar */
        -webkit-background-clip: text;  /* Para compatibilidad con navegadores WebKit */
        -webkit-text-fill-color: transparent;
        color: transparent; /* Asegura que en navegadores modernos el texto sea transparente */
        
    }
    
p {
    font-size: 1rem;
    line-height: 2rem;
}
section {
    scroll-margin-top: 100px; /* Ajusta según la altura del navbar */
    width: 70%!important;}

   main {
        scroll-margin-top: 100px; /* Ajusta según la altura del navbar */
    }

@media (max-width: 768px) { 
    section {
        width: 100% !important; 
    }    }

    header {
        scroll-margin-top: 80px; /* Ajusta según la altura del navbar */
        width: 70%!important;}
    
    @media (max-width: 768px) { 
        header {
            width: 100% !important; 
        }    }

        footer{
            background-color: #F4C430;
        }