@use "sass:color";

// Variables globales
$font-family: "Poppins", serif;
$body-color: #102736;

$primary_color: #ffc219;
$secondary_color: #068bbb;
$btn_text_color: #102736;
$btn_secondary_text_color: #ffffff;

$btn_hover_bg: color.adjust($primary_color, $lightness: -10%);
$btn_hover_border: color.adjust($primary_color, $lightness: -15%);

$btn_secondary_hover_bg: color.adjust($secondary_color, $lightness: -10%);
$btn_secondary_hover_border: color.adjust($secondary_color, $lightness: -15%);

$btn_focus_outline: rgba(11, 11, 172, 0.4); // Color del outline en focus
$btn_disabled_bg: #d6d6d6; 
$btn_disabled_text: #a0a0a0;


body {
    font-family: $font-family;
    font-optical-sizing: auto;
    color: $body-color;
}

//  Mixin botones
@mixin button-style($bg-color, $border-color, $text-color, $hover-bg, $hover-border) {
    background-color: $bg-color !important;
    border-color: $border-color !important;
    color: $text-color;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 9999px; // botón tipo pildora
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s, box-shadow 0.3s;
    border: none;
    outline: none;

    &:hover {
        background-color: $hover-bg !important;
        border-color: $hover-border !important;
        color: $text-color;
    }

    &:focus {
        box-shadow: 0 0 0 3px $btn_focus_outline; // Resalta el botón al enfocarse
    }

    &:active {
        background-color: color.adjust($bg-color, $lightness: -15%) !important;
        border-color: color.adjust($border-color, $lightness: -20%) !important;
    }

    &:disabled {
        background-color: $btn_disabled_bg !important;
        border-color: $btn_disabled_bg !important;
        color: $btn_disabled_text !important;
        cursor: not-allowed;
        opacity: 0.6;
    }
}


.btn {
    display: inline-block;
}

.btn--primary {
    @include button-style($primary_color, $primary_color, $btn_text_color, $btn_hover_bg, $btn_hover_border);
}

.btn--secondary {
    @include button-style($secondary_color, $secondary_color, $btn_secondary_text_color, $btn_secondary_hover_bg, $btn_secondary_hover_border);
}

//Cards

.card{
    border: 0px;
}

//mixin para h1

@mixin gradient-text($gradient) {
    background: $gradient;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    font-weight: bold;
}


.h1--index {
    @include gradient-text(linear-gradient(45deg, #e43060, #fcca15));
    font-size: 5rem;
}

@media (max-width: 768px) { 
    .h1--index {
        font-size: 3rem;
    }    }

.h1--projects {
    font-size: 4rem;
    @include gradient-text(linear-gradient(45deg, #068bbb, #34d399));
}

@media (max-width: 768px) {
    .h1--projects {
        font-size: 3rem;
    }
}


.h2--index {
    @include gradient-text(linear-gradient(45deg, #e43060, #13dcea));
    font-size: 2rem;
    font-weight: normal;
}

@media (max-width: 768px) {
    .h2--index {
        font-size: 2rem;
    }
}

.h3--index {
    @include gradient-text(linear-gradient(45deg, #e43060, #13dcea));
    font-size: 3rem;
    font-weight: bolder;
}

@media (max-width: 768px) {
    .h3--index {
        font-size: 2rem;
    }
}



p {
    font-size: 1rem;
    line-height: 2rem;
}
section {
    scroll-margin-top: 100px; /* Ajusta según la altura del navbar */
    width: 70%!important;}

   main {
        scroll-margin-top: 100px; /* Ajusta según la altura del navbar */
    }

@media (max-width: 768px) { 
    section {
        width: 100% !important; 
    }    }

    header {
        scroll-margin-top: 80px; /* Ajusta según la altura del navbar */
        width: 70%!important;}
    
    @media (max-width: 768px) { 
        header {
            width: 100% !important; 
        }    }

        footer{
            background-color: #F4C430;
        }


//css específicos

// navbar

.navbar {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: background 0.3s ease-in-out;
}

.navbar.scrolled {
    background: white !important;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.navbar-brand img {
    height: 50px;
    width: auto;
}

// hero section index.html
.hero {
    padding: 60px 0;
}

.hero-image {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hero-image::before {
    content: "";
    position: absolute;
    width: 50vh;
    height: 50vh;
    background: linear-gradient(135deg, #ffc219, #e8e241);
    border-radius: 50%;
    z-index: -1;
}

.hero-image img {
    max-width: 80%;
    height: auto;
    z-index: 1;
    position: relative;

}

.hero-bg {

    background-image: url('../assets/fondo_header.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.hero-bg-project {

    background-image:url('../assets/Vector 1.svg');
    background-size: contain;
    background-repeat: no-repeat;
    

}

//div experiencia en index.html
.experience-section {
    max-width: 70%;
    margin: 0 auto;
    padding: 8rem 0;
}


@media (max-width: 768px) {
    .experience-section {
        padding: 40px 0;
    }
}



 /* Enlace de salto, pero lo muestra cuando se enfoca  PARA ACCESIBILIDAD*/
.skip-link {
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    background: #000;
    color: #fff;
    padding: 12px 20px;
    font-size: 1rem;
    text-align: center;
    z-index: 9999;
    /* Asegura que esté por encima de todo */
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: top 0.3s ease-in-out;
    opacity: 0;
    /* Inicialmente oculto */
    pointer-events: none;
    /* Evita interferencias cuando está oculto */
}

/* Se hace visible cuando recibe foco */
.skip-link:focus {
    top: 10px;
    /* Baja para ser visible */
    opacity: 1;
    /* Se muestra */
    pointer-events: auto;
    /* Permite clics */
    outline: 3px solid #fff;
}


/*Overlay para antes y después kibernum.html*/

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
    z-index: 1000;
    cursor: zoom-in;

}

.overlay.active {
    opacity: 1;
    visibility: visible;
}

.overlay-img {
    max-width: 80%;
    max-height: 80%;
    transition: transform 0.3s ease-in-out;
    border-radius: 10px;
}

.overlay-img.zoomed {
    transform: scale(2);
    /* Aumenta el tamaño de la imagen */
    cursor: zoom-out;
    /* Indica que se puede reducir */
}

// video


.video-wrapper {
    width: 100%;
    max-width: 100%;
}

@media (min-width: 768px) {
    .video-wrapper {
        width: 80%;
    }
}

// blobs de fondo
.background-blobs {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
}
.blob {
    position: absolute;
    width: 500px;
    height: 300px;
    border-radius: 50%;
    filter: blur(100px);
    animation: moveBlobs 20s infinite alternate ease-in-out;
}
.blob:nth-child(1) {
    top: 10%;
    left: 5%;
    width: 250px;
    height: 250px;
    background: rgba(255, 234, 195, 0.838);
    animation-duration: 18s;
}
.blob:nth-child(2) {
    top: 50%;
    left: 80%;
    width: 350px;
    height: 350px;
    background: #c9fffa;
    animation-duration: 22s;
}
.blob:nth-child(3) {
    top: 80%;
    left: 20%;
    width: 400px;
    height: 400px;
    background: #ffe9ec;
    animation-duration: 25s;
}
@keyframes moveBlobs {
    0% {
        transform: translateY(0) scale(1);
    }
    100% {
        transform: translateY(-30px) scale(1.1);
    }
}
