.footer {
    background-color: #F4C430;
    color: #333;

}

.footer a {
    text-decoration: none;
}

.social-link img {
    transition: transform 0.3s ease-in-out;
}

.social-link:hover img {
    transform: scale(1.1);
}    

